@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
body{
    background-color: darksalmon;
}
::-webkit-scrollbar{
    display: none;
}
#hea{
    width: 100vw;
    height: 80vh;
    background: url(imagens/alljoestar.jpg);
    position: absolute;
}
#tema{
    width: 15vw;
    height: 10vh;
    text-align: center;
    color: white;
    margin-left: 80vw;
    margin-top: 2.5vh;
    overflow: unset;
}
#caixa{
    background-color: rgb(204, 59, 59);
    font-size: 2.5vh;
    cursor: pointer;
}
#caixa2{
    background-color: black;
    font-size: 2.5vh;
    cursor: pointer;
}
#estrela{
    width: 3vw;
    height: 3vh;
    margin-top: 0.5vh;
}
#Email{
    position: relative;
    left: 8vw;
    background-color: white;
    width: 40vw;
    height: 60vh;
    
}
#boasvindas{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    background-color: white;
    font-size: 3vh;
}
#email2{
    margin-top: 1vh;
    background-color: white;
}
@media screen and (min-width:0px){
    h1{
        font-size: 2vh;
    }
    input{
        font-size: 1vh;
    }
    p{
        font-size: 2vh;
    }
}
@media screen and (min-width:264px){
    h1{
        font-size: 4vh;
    }
    input{
        font-size: 1.6vh;
    }
    p{
        font-size: 2.5vh;
    }
}
@media screen and (min-width:342px){
    h1{
        font-size: 5vh;
    }
}
@media screen and (min-width:427px){
    h1{
        font-size: 5.6vh;
    }
    p{
        font-size: 3vh;
    }
}
@media screen and (min-width:609px){
    h1{
        font-size: 6vh;
    }
    input{
        font-size: 2.5vh;
    }
    p{
        font-size: 3.9vh;
    }
}
@media screen and (min-width:967px){
    h1{
        font-size: 6.5vh;
    }
    input{
        font-size: 3vh;
    }
    p{
        font-size: 4.5vh;
    }
}
@media screen and (min-width:1184px){
    h1{
        font-size: 7vh;
    }
    p{
        font-size: 5vh;
    }
}
@media screen and (min-width:1700px){
    input{
        font-size: 5vh;
    }
}
@media screen and (min-width:0px) and (max-width:300px) and (min-height: 650px){
    h1{
        font-size: 2.5vh;
    }
    input{
        font-size: 1.2vh;
    }
    p{
        font-size: 2vh;
    }
    #caixa{
        font-size: 1.5vh;
    }
    #caixa2{
        font-size: 1.5vh
    }
}
@media screen and (min-width:300px) and (max-width:401px) and (min-height: 650px){
    h1{
        font-size: 3vh;
    }
    input{
        font-size: 1.2vh;
    }
    p{
        font-size: 2.3vh;
    }
    #caixa{
        font-size: 1.5vh;
    }
    #caixa2{
        font-size: 1.5vh
    }
}
@media screen and (min-width:300px) and (max-width:401px) and (min-height: 900px){
    h1{
        font-size: 2vh;
    }
    input{
        font-size: 1vh;
    }
    p{
        font-size: 2.2vh;
    }
    #caixa{
        font-size: 1.5vh;
    }
    #caixa2{
        font-size: 1.5vh
    }
}
@media screen and (min-width:402px) and (max-width:801px) and (min-height: 650px){
    h1{
        font-size: 2.8vh;
    }
    input{
        font-size: 1.2vh;
    }
    p{
        font-size: 2.4vh;
    }
}
@media screen and (min-width:400px) and (max-width:801px) and (min-height: 900px){
    h1{
        font-size: 2.8vh;
    }
    input{
        font-size: 1vh;
    }
    p{
        font-size: 2.4vh;
    }
}
@media screen and (min-width:802px) and (max-width:1401px) and (min-height: 650px){
    h1{
        font-size: 3.5vh;
    }
    input{
        font-size: 1.2vh;
    }
    p{
        font-size: 3vh;
    }
}
@media screen and (min-width:800px) and (max-width:1401px) and (min-height: 900px){
    h1{
        font-size: 3.5;
    }
    input{
        font-size: 1vh;
    }
    p{
        font-size: 3vh;
    }
}
.container{
    display: flex;
    width: 90vw;
    height: 60vh;
    font-size: 1vh;
    background-color: white;
    position: absolute;
    margin-left: 2vw;
}
#autor{
    bottom: -60vh;
}
#tit1{
    width: 60vw;
    height: 60vh;
    text-align: center;
}
.personagem{
    width: 30vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
}
#pers1{
    background-image: url(imagens/jojo-s-bizarre-adventure-stone-ocean_cke.webp);
}
#jojo{
    bottom: -140vh;
}
#tit2{
    width: 60vw;
    height: 60vh;
    text-align: center;
}
#pers2{
    background-image: url(imagens/bonecojonas.jpg);
}
.tabela{
    display: flex;
    width: 90vw;
    height: 60vh;
    font-size: 1vh;
    background-color: white;
    position: absolute;
    margin-left: 2vw;
    border: 2px solid black;
}
.tj{
    width: 60vw;
    height: 59vh;
    margin: 1vw;
}
#j1{
    bottom: -210vh;
}
#j2{
    bottom: -270vh;
}
#j3{
    bottom: -330vh;
}
#j4{
    bottom: -390vh;
}
#j5{
    bottom: -450vh;
}
#j6{
    bottom: -510vh;
}
#j7{
    bottom: -570vh;
}
#j8{
    bottom: -630vh;
}
.imagensjojo{
    width: 30vw;
    height: 65vh;
}
#jojo1{
    background: url(imagens/jojo1.webp);
    background-size: cover;
}
#jojo2{
    background: url(imagens/jojo2.webp);
    background-position: center top;
}
#jojo3{
    background: url(imagens/jojo3.webp);
    background-size: cover;
    background-position: center top;
}
#jojo4{
    background: url(imagens/jojo4.webp);
    background-size: cover;
}
#jojo5{
    background: url(imagens/jojo5.webp);
    background-size: cover;
}
#jojo6{
    background: url(imagens/jolyne.png);
    background-size: cover;
}
#jojo7{
    background: url(imagens/jojo7.webp);
    background-size: cover;
    background-position: center;
}
#jojo8{
    background: url(imagens/jojo8.webp);
    background-size: cover;
}